.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.secondaryContainer {
  align-items: center;
  display: flex;
  padding: 40px;
}

.secondaryContainer ul {
  list-style-type: none;
}
